@model IEnumerable<ECommerceShoppingCart.Models.Product>
<h2> Cart Page</h2>

<table class="table table-bordered">

    <tr>
        <th>Option</th>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Quantity</th>
        <th>Sub Total</th>

    </tr>

    @foreach (var prod in ViewBag.cart)
    {
<tr>
    <td> <a asp-action="Remove" asp-controller="Cart" asp-route-id="@prod.Product.Id">Remove</a></td>
    <td>@prod.Product.Id</td>
    <td>@prod.Product.Name</td>
    <td>@prod.Product.Price</td>
    <td> <img scr="wwwroot/images/@prod.Product.Photo" alt="wwww/images/thumb1.jpg" height="60" width="60" /></td>
    <td>@prod.Quantity</td>
    <td>@(prod.Product.Price*prod.Quantity)</td>

</tr>
    }

   

</table>
<br />
 <a asp-action="index" asp-controller="product">Continue Shopping</a>
 <a asp-action="index" asp-controller="checkout">To Checkout</a>

